body{
    background-color: #263238;
}
.botao {
    color: #263238;
    background: #aeea00;
    border-radius: 10px 10px 10px 10px;
    border-style: none;
    width: 200px;
    height: 35px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo{
    background-color: #263238;
    width: 280px;
    max-width: max-content;
    max-height: 170px; 
    margin: auto;
    margin-bottom: 30px;
}

.botao:hover {
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
}

.bloco {
    background-color: #263238;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    flex-direction: column;
    padding-bottom: 20px;
}

.bloco-central {
    background-color: #FFFFFF;
    width: 200px;
    max-width: max-content;
    position: relative;
    padding: 25px 30px;
    z-index: 0;
    border-radius: 10px 10px 10px 10px;
    color: #263238;
}

.form-field {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    border-bottom: 1px solid #858887;
    font-size: 14px;
    width: 200px;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

input{
    color: #263238;
}

.form-label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #858887;
    width: 200px;
}

.text-field{
    width: 200px;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #263238;
    font-size: 18px;

}